@model ClienteModel

@{
	var estados = ViewBag.Estados;
	var cidades = (ViewBag.Cidades != null) ? ViewBag.Cidades : null;
}

<form class="row g-3" asp-action="Form" asp-controller="Cliente" method="post">
	<input type="hidden" asp-for="Id">
	<input type="hidden" asp-for="Endereco.Id">
	<div class="col-sm-6">
		<label class="form-label" asp-for="NomeFantasia"></label>
		<input type="text" class="form-control" asp-for="NomeFantasia">
	</div>
	<div class="col-sm-6">
		<label class="form-label" asp-for="RazaoSocial"></label>
		<input type="text" class="form-control" asp-for="RazaoSocial">
	</div>

	<div class="col-sm-4">
		<label class="form-label" asp-for="InscricaoFederal"></label>
		<input type="text" class="form-control" asp-for="InscricaoFederal">
	</div>
	<div class="col-sm-4">
		<label class="form-label" asp-for="InscricaoEstadual"></label>
		<input type="text" class="form-control" asp-for="InscricaoEstadual">
	</div>
	<div class="col-sm-4">
		<label class="form-label" asp-for="Tributacao"></label>
		<select asp-for="Tributacao" class="form-control" asp-items="Html.GetEnumSelectList<TributacaoEnum>()"></select>
	</div>

	<div class="col-sm-4">
		<label class="form-label" asp-for="Endereco.Rua"></label>
		<input type="text" class="form-control" asp-for="Endereco.Rua">
	</div>
	<div class="col-sm-4">
		<label class="form-label" asp-for="Endereco.Bairro"></label>
		<input type="text" class="form-control" asp-for="Endereco.Bairro">
	</div>
	<div class="col-sm-4">
		<label class="form-label" asp-for="Endereco.Cep"></label>
		<input type="text" class="form-control" asp-for="Endereco.Cep">
	</div>

	<div class="col-sm-6">
		<label class="form-label" asp-for="Endereco.Estado"></label>
		<select class="form-control" asp-for="Endereco.Estado" asp-items="estados"></select>
	</div>
	<div class="col-sm-6">
		<label class="form-label" asp-for="Endereco.Cidade"></label>
		<select class="form-control" asp-for="Endereco.Cidade" asp-items="cidades"></select>
	</div>



	<div class="col-auto">
		<button type="submit" class="btn btn-primary mb-3">Salvar</button>
	</div>
</form>

<script>

	$(function(){
	
		$("#Endereco_Estado").on('change', function(){
			var valor = $("#Endereco_Estado option:selected").val();
			$("#Endereco_Cidade option").remove();
			$.ajax({
				'type' : 'GET',
				'url' : '/cliente/PegarCidades',
				'data' : {'estadoId' : valor }, 
				'erro' : function(){ alert('caiu a casa')},
				'success' : function(result){
					$(result).each(function(index, item){
						$("#Endereco_Cidade").append($('<option>', {
							value: item.id,
							text: item.nome
						}));					
					});			
				}			
			});
		});	
	});

</script>